*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.section{
	padding: 2rem 1.5rem !important;
}
.students{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.students .student{
	width: 80px;
	display: inline-block;
	border-radius: 5px;
	margin: 5px;
	overflow: hidden;
	background: #f6f6f6;
	border: solid 1.3px #eee;
	filter: grayscale(100);
	cursor: pointer;
	opacity: 0;
	transition: opacity .3s;

}
.students .student:hover,
.students .student.active
{
	background: #2a3a3f;
	color: #fff;
	filter: grayscale(0);
	border-color: #2a3a3f;
}
.students .student.success
{
	background: #12BD73;
	color: #fff;
	filter: grayscale(0);
	border-color: #12BD73;
}
.students .student img{
	
	border-radius: 3px;
}
.students .student span{
	text-align: center;
	display: block;
	padding: 5px 10px;
}
#infoHeader{

}
#infoHeader .level-item{
	margin-left: 10px;
}
#infoHeader .level-item.user-info{
	display: block;
}
#infoHeader .level-item.user-info .user{

}
#infoHeader .level-item.user-info .company{
	text-transform: uppercase;
	font-size: 8pt;
}
.profile-picture{
	border-radius: 40px;
	width: 60px;
    border: solid 2px #bfbfbf;
    height: 60px;
}
.field.ratings i.fa.fa-star{
	font-size: 36pt;
	color: #ddd;
	cursor: pointer;
}
.field.ratings i.fa.fa-star:hover,
.field.ratings i.fa.fa-star.active
{
	color: #ECBC17
}
.ratingStatus{
	text-transform: uppercase;

}
.interview-multiselect{
	width: auto;
}
.interview .button.is-interview-button{
	font-size: 1rem;
    padding: 1.27rem;
}

.slide-fade-enter-active {
  transition: transform .4s ease, opacity .2s ease;
}
.slide-fade-leave-active {
  transition: transform .4s ease, opacity .2s ease, padding .5s ease .2s;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
	transform: translateY(-100px);
	height: 0px;
	padding: 0 !important;
	margin: 0px;
	opacity: 0;

}

#snackbar{
    background: #2a3a3f;
    color: #fff;
    padding: 20pt 20pt;
    position: fixed;
    z-index: 9999;
    left: 50%;
    min-width: 300px;
    transform: translateX(-50%) translateY(0px);
    border-radius: 0 0 6px 6px;
    opacity: 0.95;
    cursor: pointer;
}
#snackbar i{
	float: left;
}

.snackbar-fade-enter-active {
  transition: all .3s ease;
}
.snackbar-fade-leave-active {
  transition: all .2s ease;
}
.snackbar-fade-enter, .snackbar-fade-leave-to{
	transform: translateX(-50%) translateY(-25px) !important;
	opacity: 0 !important;

}

.interview-buttons{
	display: flex;
	flex-grow: 1;
	justify-content: center;
		margin-left: 10px;

}
.button.is-primary{
	background-color: #41b883 !important;
}
a{
	color: #41b883 !important;
}

.field.ratings.inline{
	display: flex;
	flex-wrap: wrap;
    align-items: center;
}

.field.ratings.inline .label{
	width: 30%;
	max-width: 180px;
}
@media screen and (max-width: 768px) {
	.interview-buttons{
		margin-left: 0px;
	}
	.interview .button.is-interview-button{
		margin-top: 3px;
		flex-grow: 1;
	}

}
@media screen and (max-width: 1024px) {
	.student-summary{
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}
	.student-summary .level-item.button{
		margin-left: 0 !important;
	}
}
@media screen and (max-width: 375px) {
	
	.interview-buttons{
		flex-direction: column;

	}
	.interview .button.is-interview-button{
		align-self:stretch;
	}
	
	.field.ratings.inline .label{
		width: 100% !important;
		max-width: 100% !important;
		display: block;
		box-sizing: border-box;
	}
}
@media screen and (min-width: 376px) {
	.is-middle{
		margin-left: 4px;
		margin-right: 4px;
	}
}
